# **Libraries**

In [1]:
import pandas as pd
import numpy as np
import json
import sys
import random

import pymysql

import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, String, Integer, Float, Boolean
from sqlalchemy import MetaData
from sqlalchemy import select

import matplotlib.pyplot as plt
from matplotlib.colors import LinearSegmentedColormap
from matplotlib.colors import to_rgba
from matplotlib import cm
from matplotlib import colorbar
import matplotlib as mpl
import matplotlib.patches as patches
from matplotlib.patches import ArrowStyle
import matplotlib.patheffects as path_effects

import plotly.express as px
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

from mplsoccer import Pitch, VerticalPitch, Radar, FontManager, add_image
from mplsoccer.statsbomb import read_event, EVENT_SLUG

from highlight_text import  ax_text, fig_text

from sklearn.cluster import KMeans
from scipy import stats

import math
import ipywidgets as widgets

from pandas.core.common import SettingWithCopyWarning
from IPython.display import display, Math, Latex

import tqdm as tqdm
import os

import warnings
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

# **DB Create Table**

In [22]:
# To connect MySQL database to pymsql server
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password = 'Master_PT_123',
    db='athletic',
    )

In [101]:
# To connect MySQL database to pymsql server
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password = 'Master_PT_123',
    db='athletic',
    )

# Create the engine to connect database
engine = create_engine('mysql+pymysql://root:Master_PT_123@localhost:3306/athletic')

# Container object that keeps together many different features of a database
metadata = MetaData()

In [15]:
# Create table to add to our database connected to the engine
data = Table('OPTA', metadata,
             Column('eventId', Integer()),
             Column('minute', Integer()),
             Column('second', Float()),
             Column('expandedMinute', Integer()),
             Column('x', Float()),
             Column('y', Float()),
             Column('endX', Float()),
             Column('endY', Float()),
             Column('blockedX', Float()),
             Column('blockedY', Float()),
             Column('goalMouthZ', Float()),
             Column('goalMouthY', Float()),
             Column('playerId', Float()),
             Column('typedisplayName', String(255)),
             Column('qualifiers', String(max)),
             Column('outcomeTypedisplayName', String(255)),
             Column('satisfiedEventsTypes', String(255)),
             Column('relatedEventId', Integer()),
             Column('relatedPlayerId', Integer()),
             Column('isTouch', Boolean()),
             Column('Match_ID', Integer()),
             Column('name', String(255)),
             Column('shirtNo', Integer()),
             Column('teamId', Integer()),
             Column('team', String(255)),
             Column('League', String(60000))
             )

metadata.create_all(engine)

print(repr(metadata.tables['OPTA']))

Table('OPTA', MetaData(), Column('eventId', Integer(), table=<OPTA>), Column('minute', Integer(), table=<OPTA>), Column('second', Float(), table=<OPTA>), Column('expandedMinute', Integer(), table=<OPTA>), Column('x', Float(), table=<OPTA>), Column('y', Float(), table=<OPTA>), Column('endX', Float(), table=<OPTA>), Column('endY', Float(), table=<OPTA>), Column('blockedX', Float(), table=<OPTA>), Column('blockedY', Float(), table=<OPTA>), Column('goalMouthZ', Float(), table=<OPTA>), Column('goalMouthY', Float(), table=<OPTA>), Column('playerId', Float(), table=<OPTA>), Column('typedisplayName', String(length=255), table=<OPTA>), Column('qualifiers', String(length=<built-in function max>), table=<OPTA>), Column('outcomeTypedisplayName', String(length=255), table=<OPTA>), Column('satisfiedEventsTypes', String(length=255), table=<OPTA>), Column('relatedEventId', Integer(), table=<OPTA>), Column('relatedPlayerId', Integer(), table=<OPTA>), Column('isTouch', Boolean(), table=<OPTA>), Column('Match_ID', Integer(), table=<OPTA>), Column('name', String(length=255), table=<OPTA>), Column('shirtNo', Integer(), table=<OPTA>), Column('teamId', Integer(), table=<OPTA>), Column('team', String(length=255), table=<OPTA>), Column('League', String(length=60000), table=<OPTA>), schema=None)

# **Create DataBase**

In [9]:
# To connect MySQL database to pymsql server
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password = 'Master_PT_123',
    db='athletic',
    )

# Create the engine to connect database
engine = create_engine('mysql+pymysql://root:Master_PT_123@localhost:3306/athletic')

# Container object that keeps together many different features of a database
metadata = MetaData()

In [10]:
#Function that read csv file and join them to our table in sql
def connect_csv_SQL(csvFile, tableName, connection, if_exists, index):
    df = pd.read_csv(csvFile)

    df.drop(['Unnamed: 0'], axis=1, inplace=True)

    df.to_sql(name=tableName, con=connection, if_exists=if_exists, index=index)

In [11]:
connect_csv_SQL('Database/NAMEFILE.csv', 'NAMEFILE', engine, 'replace', False)

# **Upload a Database to Pyhton**

In [12]:
# Create the engine to connect database
engine = create_engine('mysql+pymysql://root:BDNAME@localhost:PORT/DATABASE')
connection = engine.connect()
# Container object that keeps together many different features of a database
metadata = MetaData()

df = Table('NAMEFILE', metadata, autoload=True, autoload_with=engine)

# Get the first 10 invoices from the USA
query = (db.select([df]))

df = pd.read_sql(query, engine)

In [13]:
len(df)

58080